/* --- HEADER-STUFF --- */

#header {
    border: 2px #b83030 solid;
    color: brown;
    display: flex;
    flex-direction: row; 
    padding: 2px;
    height: 100px;
    width: 100%;
}

#headertext {
    border: #b83030 solid;
    color: brown;
    text-align: center;
    font-size: 30px;
    width: 20%;
    height: 90%;

}


/* --- NAV-FOOTER-STUFF --- */

.footer-nav-curr {
    width: 25%;
    height: 100%;
    margin: 0;
    background-color: gray;
    font-size: 14px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.footer-nav {   /* Styles for elements with class .footer-nav */
    background-color: lightgrey;
    width: 25%;
    height: 100%;
    font-size: 14px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.footer-nav:hover {
    background-color: rgb(150, 150, 150);
    width: 25%;
    height: 100%;
    font-size: 14px;
    border-radius: 0;
    border-left: 0;
    border-right: 0; 
}

#nav-bar {      /* Styles for elements with ID #nav-bar */
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline;
    font-size: 0;     /* Apparently needed for no button spacing */
}


/* --- BREADCRUMS-STUFF --- */

/* W3Schools breadcrumbs example https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */

ul.breadcrumbs li {
    list-style: none;
    display: inline;
}

ul.breadcrumbs li+li:before {
    color: black;
    content: "/\00a0";      /* Add a slash symbol (/) before/behind each list item */
}

ul.breadcrumbs li a {
    color: #8a8a8a;
    text-decoration: none;
}

ul.breadcrumbs li a:hover {
    color: #424242;
    text-decoration: underline;
}


/* --- MOWER-STUFF --- */

.mowerPreview {
    display: grid;
    grid-template-columns: 50%;
    row-gap: 20px;
    justify-content: space-between;
    width: 20%;
    margin-left: 0%;
}

#addMowerButton {
    width: 30px;
    height: 30px;
    background-color: #1d8a26;
    position: relative;
    border-radius: 30px;
    border: none;
    left: 3%;
    top: 20px;
    color: white;
}

#provider-mowers {
    float: right;
}

.mower-object {
    height: 150px;
    width: 90%;
    border: solid 1px black;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
    text-align: left;
}

.mower-object span{
    padding-left: 5px;
    float: left;
    position: relative;
    font-size: 10px;
}

.mower-title {
    float: left;
    position: relative;
    font-size: 20px;
    height: 20%;
    width: 100%;
    border-bottom: solid 1px black;
    padding-left: 5px;
}

.mower-areas {
    position: relative;
    height: 60%;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;
    padding-left: 5px;
}

#main-mower-window .modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

#addMowerWindow .modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

#addMowerWindow .mower-object {
    background-color: white;
}

.area-mower-space {
    width: 100%;
    display: flex;
    justify-content: left;
}

.area-mower-space .mower-object{
    width: 200px;
    margin-left: 20px;
}

.mower-footer {
    align-items: horizontal;
}

.mower-footer button{
    width: 50px;
    height: 25px;
    font-size: 10px;
    border-radius: 5px;
    text-align: center;
    float: right;
    margin-right: 10px;
    background-color: rgb(255, 50, 50);
    border: none;
    color: white;
}

.submitButton {
    background-color: rgb(100, 100, 252);
    border-radius: 4px;
    border: none;
    color: white;
}

/* --- AREA-STUFF --- */

.areaPreview {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.areaPreview form {
    width: 100%;
    height: 150px;
}

.areaPreview form button {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    align-items: top;
    border-radius: 8px;
    font-size: 25px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #dddbdb;
}

.statusBox {
    width: flex;
    height: flex;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #FF6F6F;
    background-color: #FAC3C3;
  }

/*
#confirm-submit {
    background-color: rgb(47, 44, 238);
    color: white;
}
*/


/* --- REQUEST-STUFF --- */

#request-mower-window {
    border-bottom: 2px solid black;
}

#request-mower {
    width: 30px;
    height: 30px;
    background-color: #1d8a26;
    border-radius: 30px;
    border: none;
    color: white;
    display: flex;
    text-align: center;
    padding-left: 9px;
}

.request-wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conf-info {
    padding-left: 5px;
}

.conf-info div {
    margin-top: 5px;
}

.conf-desc {
    display: inline-block;
}

.conf-vals {
    display: inline-block;
    margin-left: 10px;
}

/* --- SERVICE TICKETS-STUFF */

.ticketSpace {
    height: 100%;
    font-size: 15px;
    width: 70%;
    overflow-y: scroll;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 6px;
    border-style: solid;
    border: 1px solid #424242
}

.areaTicketSpace {
    width: 60%;
    margin-left: 20%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 10px;
    border-radius: 6px;
    border-style: solid;
    border: 1px solid #424242
}

#serviceTicketWindow .modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}