{% extends 'basehq.html' %}

{% block head %}
{% endblock %}


{% block body %}
<div>
    <form action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset class="form-group">
            <legend>Add Product</legend>

            <div class="form-group">
                {{ form.name.label(class="form-control-label")}}
                {{ form.name(class="form-control")}}
            </div>

            <div class="form-group">
                {{ form.spec.label(class="form-control-label")}}
                {{ form.spec(class="form-control")}}
            </div>

            <div class="form-group">
                {{ form.description.label(class="form-control-label")}}
                {{ form.description(class="form-control")}}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %} 

{% block navbuttons %}
<li class="nav-item active">
    <a class="nav-link" href="/manufacturer/manufacturer">Home</a>
</li>
{% endblock %}