{% extends 'basehq.html' %}

{% block head %}
{% endblock %}


{% block body %}
<h2>Customer Info</h2>
<div class="customer-info">
    <h2>Customer Information</h2>
    <form>
      <label>Name:</label>
      <br>
      <br>
      <label>Provder:</label>
      <br>
      <br>
      <label>Area:</label>
      <br>
      <br>
      <label>Phone Number:</label>
      <br>
      <br>
      <a href="areainfohq.html">
        <button type="button">Change Area</button>
    </a>
    <a href="providerlisthq.html">
        <button type="button">Change provider</button>
    </a>
    </form>
  </div>
{% endblock %}

{% block navbuttons %}
<li class="nav-item active">
    <a class="nav-link" href="/manufacturer/manufacturer">Home</a>
</li>
{% endblock %}