{% extends 'basehq.html' %}

{% block head %}
{% endblock %}


{% block body %}
<h2>Provider List</h2>
<a href="customerinfohq.html">
    <button type="button">back</button>
</a>
<div class="container">
    <div class="products">
        <div class="product-box">
            <h2>Provider 1</h2>
            <p>BING BONG</p>
            <a href="">
                <button type="button">Pick</button>
            </a>
        </div>
        <div class="product-box">
            <h2>Provider 2</h2>
            <p>LANG TANG</p>
            <a href="">
                <button type="button">Pick</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block navbuttons %}
<li class="nav-item active">
    <a class="nav-link" href="/manufacturer/manufacturer">Home</a>
</li>
{% endblock %}