{% extends 'basehq.html' %}

{% block head %}
{% endblock %}


{% block body %}
<ul class="breadcrumbs">
  <li> <a href="/manufacturer/manufacturer">Main</a></li>
  <li> <a href="requesthq.html">Request</a></li>
  <li> <a href="requestinfohq">Request Info</a></li>
</ul>
<h2>Request Info</h2>
<div class="request-info">
      <p>Type: {{request['Type']}}</p>
      <p>Content: {{request['Content']}}</p>
      <p>Created at: {{request['DateCreated']}}</p>
      <a href="{{ url_for('manufacturer.requesthq') }}">
        <button type="button">Back</button>
    </a>
    {% if request['Completed'] == False %}
      {% if request['Type'] == "newArea" %}
      <form method = "POST" action="{{ url_for('manufacturer.service')}}">
        <select name = "providerId">
          {% for provider in providers%}
          <option value = "{{provider['_id']}}">{{provider["Name"]}}</option>
          {% endfor%}
        </select>
        <button name = "requestId" type = "submit" value = "{{request['_id']}}" class="button1"> Create Service Ticket
        </button>
      </form>
      {% elif request['Type'] == "mowerReq" %}
      <form name = "productForm" action = "{{url_for('manufacturer.service') }}" method = "POST">
        <select name = "productId">
          {% for product in products%}
          <option value = "{{product['_id']}}">{{product["Name"]}}</option>
          {% endfor%}
        </select>
        <button name = "requestId" value = "{{request['_id']}}" type = "submit" class="button1"> Send mower
        </button>
      </form>
      {% endif %}
    {% else %}
    <button>
    <a href="{{url_for('manufacturer.remove', id = request['_id'] ) }}" class = "button1">Delete</a>
    </button>
    {% endif %}
  </div>
{% endblock %}

{% block navbuttons %}
<li class="nav-item active">
    <a class="nav-link" href="/manufacturer/manufacturer">Home</a>
</li>
{% endblock %}
