{% extends 'basehq.html' %}

{% block head %}
{% endblock %}


{% block body %}
<ul class="breadcrumbs">
    <li> <a href="/manufacturer/manufacturer">Main</a></li>
    <li> <a href="requesthq.html">Request</a></li>
</ul>
<h2>Request List</h2>
{% for item in data %}
    <div class="container">
        <div class="products">
            <div class="product-box">
                <h2>Request: </h2>
                <p>Type: {{ item.Type }}</p>
                <p>Content: {{ item.Content }}</p>
                {% if item.Completed == True %}
                <p >Completed!</p>
                {% else %}
                <p >Not Completed!</p>
                {% endif %}
        <form name = "requestInfo" method = "POST" action="{{ url_for('manufacturer.enterrequest')}}">
        <button type = "submit" name = "requestId" value = "{{ item._id }}"> Request Info</button>
</form>
<form name = "DeleteRequest" method = "POST" action="{{ url_for('manufacturer.remove')}}">
    <button type = "submit" name = "requestId" value = "{{ item._id }}">Remove Request
    </button>
  </form>
</div>
</div>
</div>

{% endfor %}
{% endblock %}


{% block navbuttons %}
<li class="nav-item active">
    <a class="nav-link" href="/manufacturer/manufacturer">Home</a>
</li>
{% endblock %}
