{% extends 'basehq.html' %}

{% block head %}
{% endblock %}


{% block body %}
<ul class="breadcrumbs">
    <li> <a href="/manufacturer/manufacturer">Main</a></li>
    <li> <a href="Serviceproviderhq.html">Serviceproviders</a></li>
</ul>

<h2>Provider List</h2>
<a href="customerinfohq.html">
    <button type="button">back</button>
</a>

<div class="container">
    <div class="products">
        {% for providers in provider_accounts %}
        <div class="product-box">
            <h2>{{ providers[1] }}</h2>
            <a href="">
                <button type="button">Info</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block navbuttons %}
<li class="nav-item active">
    <a class="nav-link" href="/manufacturer/manufacturer">Home</a>
</li>
{% endblock %}