{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<h2>Service Provider Mainpage</h2>

<button id="provider-mowers" type="button" data-bs-toggle="modal" data-bs-target="#main-mower-window">
    Mowers
</button> 
<div id="main-mower-window" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="area-create-title">Current Mowers</h4>
                <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button> <!-- &times is an x symbol-->  
            </div>
            <div class="modal-body">
                {% for mower in mowers %}

                <div class = "mower-object">

                    <div class ="mower-title">{{mower["Name"]}}</div> <br>
                    
                    <div class = "mower-areas">
                        {% for address in mower["Addresses"]%}
                        {{address}} <br>
                        {% endfor %}
                    </div>
                    <span>
                        x: {{mower["Xpos"]}} <br>
                        y: {{mower["Ypos"]}} 

                    </span>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class = "areaPreview">

{%for area in areas%}


<form name = "viewArea" method = "POST" action="{{ url_for('serviceprovider.enterArea')}}">
    <button type = "submit" name = "areaId" value = "{{area['_id']}}">
        {{area['Address']}}
        <div class="statusBox">{{area['Status']}}</div>
    </button>
</form>


{% endfor %}
</div>

<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}

{% block footer %}
{% endblock %}