{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<ul class="breadcrumbs">
    <li> <a href="/serviceprovider">Main</a></li>
    <li> <a href="/serviceprovider/area">{{area['Address']}}</a></li>
</ul>

<h2>Area Info</h2>  <!-- info about service_tickets -->

{% for ticket in area_tickets %}
    <button class = areaTicketSpace type="button" data-bs-toggle="modal" data-bs-target="#serviceTicketWindow{{ ticket['_id'] }}" style="background-color: {{ ticket['colour'] }} "> <!-- WORKS, but HTML doesn'think so -->
        Description: {{ticket['desc']}} <br>
        DateCreated: {{ticket['DateCreated']}} <br>
        DueDate: {{ticket['DueDate']}} <br>
        <!-- MowerId: {{ticket['MowerId']}} <br> -->
    </button>

    <form name = "serviceTicket" method="POST" action="{{ url_for('serviceprovider.completeServiceTicket')}}">
        <div id="serviceTicketWindow{{ ticket['_id'] }}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="area-create-title"> {{ticket['Content']}} </h4>
                        <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button> <!-- &times is an x symbol-->  
                    </div>

                    <div class="modal-body">
                        Content: {{ticket['Content']}} <br>
                        DateCreated: {{ticket['DateCreated']}} <br>
                        DueDate: {{ticket['DueDate']}} <br>
                        {% if 'MowerId' in ticket %}
                            MowerId: {{ticket['MowerId']}} <br>
                        {% endif %}
                    </div>

                    <div class="modal-footer">
                        <button class = "submitButton" type="submit" class="btn footer-button"> Completed </button>

                        <input type="hidden" id="ticket_id" name="ticket_id" value="{{ ticket['_id'] }}">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endfor %}

<h2> Lawnmowers in {{area['Address']}} </h2>

<div class = "area-mower-space">
    {% for mower in area_mowers %}
        <div class = "mower-object">

        <div class ="mower-title">{{mower["Name"]}}
            <span>Id: {{mower["_id"]}}</span>
        </div> <br>

        <div class = "mower-areas">
            {% for address in mower["Addresses"]%}
                {{address}} <br>
            {% endfor %}
        </div>
        <div class = "mower-footer">
            <span>
                x: {{mower["Xpos"]}} <br>
                y: {{mower["Ypos"]}} 

            </span>
            <form name = "removeMower" method = "POST" action="{{ url_for('serviceprovider.removeMower')}}">
                <button name = "mowerId" value = "{{mower['_id']}}"> Remove </button>
            </form>
        </div>
        </div>
    {% endfor %}
</div>


<!-- Add Lawnmower Button -->
<button id="addMowerButton" type="button" data-bs-toggle="modal" data-bs-target="#addMowerWindow">
    +
</button>
<form name = "addMower" method="POST" action="{{ url_for('serviceprovider.addMower')}}">
    <div id="addMowerWindow" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="area-create-title">Add Mowers</h4>
                    <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button> <!-- &times is an x symbol-->  
                </div>
                <div class="modal-body">
                    {% for mower in available_mowers %}

                    <button name = "mowerId" value = "{{mower['_id']}}" type = "submit" class = "mower-object">

                        <div class ="mower-title">{{mower["Name"]}}
                            <span>Id: {{mower['_id']}}</span>
                        </div> <br>
                        
                        <div class = "mower-areas">
                            {% for address in mower["Addresses"]%}
                            {{address}} <br>
                            {% endfor %}
                        </div>
                        <span>
                            x: {{mower["Xpos"]}} <br>
                            y: {{mower["Ypos"]}} 

                        </span>
                    </button>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>

<br><br><br><br><br><br><br> <!-- Added so that the navigation bar doesn't cover up important stuff -->
{% endblock %}

{% block footer %}
    <form id="nav-bar" id = "footer-navbar" method = "POST" action="{{ url_for('serviceprovider.areaNav')}}">
        <button class = "footer-nav-curr" name = navBar type = "submit" value = "home">
            <p> home </p>
        </button>
        <button class = "footer-nav" name = navBar type = "submit" value = "map">
            <p> map </p>
        </button>
        <button class = "footer-nav" name = navBar type = "submit" value = "schedule">
            <p> schedule</p>
        </button>
        <button class = "footer-nav" name = navBar type = "submit" value = "configuration">
            <p> configuration</p>
        </button>
    </form>
{% endblock %}