{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<h2>Service Provider Mainpage</h2>

<div class = "areaPreview">
{%for area in areas%}

<form name = "viewArea" method = "POST" action="{{ url_for('serviceprovider.enterArea')}}">
    <button type = "submit" name = "areaId" value = "{{area['_id']}}">
        {{area['Address']}}
        <div class="statusBox">{{area['Status']}}</div>
    </button>
</form>

{% endfor %}
</div>

<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}

{% block footer %}
{% endblock %}