{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<ul class="breadcrumbs">
    <li> <a href="/serviceprovider">Main</a></li>
    <li> <a href="/serviceprovider/area">{{area['Address']}}</a></li>
</ul>

<h2>Area Info</h2>  <!-- info about service_tickets -->

<div>
    {% for ticket in area_tickets %}
        <p> v v v </p>
        <p> Content: {{ticket['Content']}} </p>
        <p> DateCreated: {{ticket['DateCreated']}} DueDate: {{ticket['DueDate']}} </p>
        <!-- MowerId: 65ddecaa6d36919f144256cd -->
        <p> ^^^ </p>
    {% endfor %}
</div>

<h2> Lawnmowers in {{area['Address']}} </h2>

<div class = "area-mower-space">
    {% for mower in area_mowers %}
        <div class = "mower-object">

        <div class ="mower-title">{{mower["Name"]}}</div> <br>

        <div class = "mower-areas">
            {% for address in mower["Addresses"]%}
            {{address}} <br>
            {% endfor %}
        </div>
        <div class = "mower-footer">
            <span>
                x: {{mower["Xpos"]}} <br>
                y: {{mower["Ypos"]}} 

            </span>
            <form name = "removeMower" method = "POST" action="{{ url_for('serviceprovider.removeMower')}}">
                <button name = "mowerId" value = "{{mower['_id']}}">
                    Remove
                </button>
            </form>
        </div>
        </div>
    {% endfor %}
</div>


<!-- Add Lawnmower Button -->
<button id="addMowerButton" type="button" data-bs-toggle="modal" data-bs-target="#addMowerWindow">
    +
</button>
<form name = "addMower" method="POST" action="{{ url_for('serviceprovider.addMower')}}">
    <div id="addMowerWindow" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="area-create-title">Add Mowers</h4>
                    <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button> <!-- &times is an x symbol-->  
                </div>
                <div class="modal-body">
                    {% for mower in available_mowers %}

                    <button name = "mowerId" value = "{{mower['_id']}}" type = "submit" class = "mower-object">

                        <div class ="mower-title">{{mower["Name"]}}</div> <br>
                        
                        <div class = "mower-areas">
                            {% for address in mower["Addresses"]%}
                            {{address}} <br>
                            {% endfor %}
                        </div>
                        <span>
                            x: {{mower["Xpos"]}} <br>
                            y: {{mower["Ypos"]}} 

                        </span>
                    </button>

                    {% endfor %}
    
                </div>
            </div>
        </div>
    </div>
</form>


<!--

<form name = "addMower" method="POST" action="{{ url_for('serviceprovider.addMower') }}">
    <div id="addMowerWindow" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="area-create-title">Add lawnmower</h4>
                    <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button>  
                </div>

                <div class="modal-body">
                </div>

                <div class="modal-foooter">
                    <button type="button" class="btn footer-button" data-bs-dismiss="modal">Close</button>

                    <button class="submitButton" type="submit" class="btn footer-button">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
-->

{% endblock %}

{% block footer %}
    <form id="nav-bar" id = "footer-navbar" method = "POST" action="{{ url_for('serviceprovider.areaNav')}}">
        <button class = "footer-nav-curr" name = navBar type = "submit" value = "home">
            <p> home </p>
        </button>
        <button class = "footer-nav" name = navBar type = "submit" value = "map">
            <p> map </p>
        </button>
        <button class = "footer-nav" name = navBar type = "submit" value = "schedule">
            <p> schedule</p>
        </button>
        <button class = "footer-nav" name = navBar type = "submit" value = "configuration">
            <p> configuration</p>
        </button>
    </form>

{% endblock %}