{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<h2>Service Provider Mainpage</h2>

<button id="provider-mowers" type="button" data-bs-toggle="modal" data-bs-target="#main-mower-window">
    Mowers
</button> 
<div id="main-mower-window" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="area-create-title">Current Mowers</h4>
                <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button> <!-- &times is an x symbol-->  
            </div>
            <div class="modal-body">
                {% for mower in mowers %}

                <div class = "mower-object">

                    <div class ="mower-title">{{mower["Name"]}}</div> <br>
                    
                    <div class = "mower-areas">
                        {% for address in mower["Addresses"]%}
                        {{address}} <br>
                        {% endfor %}
                    </div>
                    <span>
                        x: {{mower["Xpos"]}} <br>
                        y: {{mower["Ypos"]}} 

                    </span>
                </div>
                {% endfor %}
            </div>
            <div class="request-wrapper">
                <button id="request-mower" type="button" data-bs-toggle="modal" data-bs-target="#request-mower-window">+</button>
            </div>
        </div>
    </div>
</div>

<div id="request-mower-window" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="area-create-title">Request mower</h4>
                <button type="button" class="btn close" data-bs-dismiss="modal">&times;</button> <!-- &times is an x symbol-->  
            </div>

            <div class="modal-body">
                <form id = "reqMower" name = "reqMower" method = "POST" action="{{ url_for('serviceprovider.requestMower')}}">
                    <label for=" product-selection">Select a model: </label>
                    <select id = "product-selection" name = "productId">
                        {% for product in products %}
                            <option value = "{{product['_id']}}"> {{product["name"]}}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn footer-button" data-bs-dismiss="modal">Close</button>

                <button form = "reqMower" class = "submitButton" type="submit" class="btn footer-button">Submit</button>
            </div>
        </div>
    </div>
</div>


<div class = "areaPreview">
    {% for area in areas %}
        {% if area['ProviderId'] == mowers[0]['ProviderId'] %} <!-- if area['ProviderId'] == current provider -->

            <form name = "viewArea" method = "POST" action="{{ url_for('serviceprovider.enterArea')}}">
                <button type = "submit" name = "areaId" value = "{{area['_id']}}">
                    {{area['Address']}}
                    <div class="statusBox">{{area['Status']}}</div>

                    {% for ticket in tickets %}
                        {% if area['_id'] == ticket['AreaId'] %}

                            <div class="ticketSpace" style="background-color: {{ ticket['colour'] }}"> <!-- works, but HTML thinks it's wrong -->
                                {{ ticket['Content'] }}
                            </div>
                        {% endif %}
                    {% endfor %}

                </button>
            </form>

        {% else %}
            {% for ticket in tickets %}
                {% if area['_id'] == ticket['AreaId'] %}

                    <form name = "viewArea" method = "POST" action="{{ url_for('serviceprovider.enterArea')}}">
                        <button type = "submit" name = "areaId" value = "{{area['_id']}}">
                            {{area['Address']}}
                            <div class="statusBox">{{area['Status']}}</div>
                        </button>
                    </form>

                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}

{% block footer %}
{% endblock %}