<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP: Lawn Mower</title>
</head>
<body>
    <h2>The Lawn Mower page for Serviceproviders</h2>

    <form action="{{ url_for('serviceprovider.sepr_home') }}" method="POST">
        <button type="submit" name="home_button">Main Page</button> <br>
    </form>

    <p>This is a template for all information that we be showed to a serviceprovider when they access a lawnmower &#128520;</p>
    <p>Continue to be as cool as me &#128526;</p> <br>


    <p> &#129468; &#129469; &#129302; &#128206; &#128668; &#128757; &#128752; </p>
</body>
</html>