{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<h2>Request Info</h2>
<div class="customer-info">
    <h2>Request Information</h2>
    <form>
      <label for="customerName">Name:</label>
        <br>
        <br>
      <label for="customerEmail">Request:</label>
      <br>
      <br>
      <a href="customerinfohq.html">
        <button type="button">Customer Info</button>
    </a>
    <a href="requesthq.html">
        <button type="button">Back</button>
    </a>
    </form>
  </div>
{% endblock %}

{% block navbuttons %}
<li class="nav-item active">
    <a class="nav-link" href="/manufacturer/manufacturer">Home</a>
</li>
{% endblock %}