{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<ul class="breadcrumbs">
    <li> <a href="/customer">Main</a></li>
    <li> <a href="/customer/area">{{area['Address']}}</a></li>
    <li> <a href="/customer/area/configure">Configure</a></li>
</ul>
<h2>{{area['Address']}}</h2>

<button type="button" data-bs-toggle="modal" data-bs-target="#editAreaWindow">
    Edit Area
</button>
<form name = "editArea" method="POST" action="{{ url_for('customer.editArea') }}">  
    <div id="editAreaWindow" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="area-create-title">Edit area</h4>
                    <!--<button type="button" class="btn close" data-bs-dismiss="modal">&times;</button>  -->
                </div>
                <div class="modal-body">
                    <p>Make the area</p>
                    <label for = "grass-input" >Grass length</label>
                    <input type="text" name ="grassLength"> <br>

                    <h4>Adress: {{area['Address']}}</h4>

                    <label for = "address" >Address</label>
                    <input type="hidden", value="{{area['Address']}}", name ="address"> <br>

                    <label for = "sub-input" >Subscription</label> <br>
                    <input type = "radio" name = "sub" for="sub-input" value = "basic"> <label for="basic">Basic</label> <br>
                    <input type = "radio" name = "sub" for="sub-input" value = "gold"> <label for="gold">Gold</label> <br>
                    <input type = "radio" name = "sub" for="sub-input" value = "supreme"> <label for="supreme">Supreme</label> <br>
                </div>
                <div class="modal-foooter">
                    <button type="button" class="btn footer-button" data-bs-dismiss="modal">Close</button>

                    <button type="submit" class="btn footer-button">Submit</button>

                </div>
            </div>
        </div>
    </div>
</form>  

{% endblock %}  

{% block footer %}

<form id="nav-bar" name = "navBar" method = "POST" action="{{ url_for('customer.areaNav')}}">
    <button class = "footer-nav" name = navBar type = "submit" value = "home">
        <p> home </p>
    </button>
    <button class = "footer-nav" name = navBar type = "submit" value = "map">
        <p> map </p>
    </button>
    <button class = "footer-nav" name = navBar type = "submit" value = "schedule">
        <p> schedule</p>
    </button>
    <button class = "footer-nav-curr" name = navBar type = "submit" value = "configure">
        <p> configure</p>
    </button>
</form>

{% endblock %} 
