{% extends 'base.html' %}

{% block head %}
{% endblock %}



{% block body %}

<ul class="breadcrumbs">
    <li> <a href="/customer">Main</a></li>
    <li> <a href="/customer/area">{{area['Address']}}</a></li>
    <li> <a href="/customer/area/configure">Configure</a></li>
</ul>
<h2>{{area['Address']}}</h2>

<!-- Hard coded sub info, can replace with info from db if time-->

<form name = "editArea" method="POST" action="{{ url_for('customer.editArea') }}">  

    <label for = "sub-input" >Subscription</label> <br>
    <input type = "radio" name = "sub" for="sub-input" value = "basic"> <label for="basic">Basic</label>
    <div class="sub-display"><img src= "{{url_for('.static', filename = 'images/info.png')}}" alt="no img"></div> <div class = "sub-info">Free Pushes: 10 <br> Inspections per year: 2 <br> Maximum grass variation: 2 cm <br> Service priority: Low </div>
    <br>
    <input type = "radio" name = "sub" for="sub-input" value = "gold"> <label for="gold">Gold</label> 
    <div class="sub-display"><img src= "{{url_for('.static', filename = 'images/info.png')}}" alt="no img"></div> <div class = "sub-info">Free Pushes: 20 <br> Inspections per year: 4 <br> Maximum grass variation: 1 cm <br> Service priority: Medium </div>
    <br>
    <input type = "radio" name = "sub" for="sub-input" value = "supreme"> <label for="supreme">Supreme</label>
    <div class="sub-display"><img src= "{{url_for('.static', filename = 'images/info.png')}}" alt="no img"></div> <div class = "sub-info">Free Pushes: 30 <br> Inspections per year: 6 <br> Maximum grass variation: 1 cm <br> Service priority: High </div>
    <br>
    {% if area['GrassLength'] != none %}
    <label for = "grass-input" >Grass length </label>
    <input id = "grass-input" type="tel" pattern="[1-9]{1}" name ="grassLength" value="{{area['GrassLength']}}" title="Please enter value between 1-9 (cm)"> cm <br>
    {% else %}

    <label for = "grass-input" >Grass length </label>
    <input id = "grass-input" type="tel" pattern="[1-9]{1}" name ="grassLength" value="3" title="Please enter value between 1-9 (cm)"> cm <br>
    {% endif %}

    {% if area['NotifTime'] != none %}

    <label for = "notif-input" >Time to notify service provider </label>
    <input id = "notif-input" type="tel" pattern="[1-9][0-9]{0,4}" name ="notifTime" value = "{{area['NotifTime']}}" title="Please enter time before notifying serviceprovider (min 1 (h), max 99999 (h))"> h <br> 

    {% else %}

    <label for = "notif-input" >Time to notify service provider </label>
    <input id = "notif-input" type="tel" pattern="[1-9][0-9]{0,4}" name ="notifTime" value = "24" title="Please enter time before notifying serviceprovider (min 1 (h), max 99999 (h))"> h <br> 

    {% endif %}

    <button type="submit" id = "confirm-submit" class="btn footer-button">Submit</button>

</form> 

<!-- outline of function from https://stackoverflow.com/questions/8838648/onchange-event-handler-for-radio-button-input-type-radio-doesnt-work-as-one-->


<script>  
    var rad = document.editArea.sub;
    var prev = null;
    var currSub = "{{sub}}"

    //for every radio button
    
    for (var i = 0; i < rad.length; i++) {

        //set default checked if sub matches

        if (rad[i].value == currSub) {

            rad[i].checked = true;
        }

        //add listener to see when change occurs (currently unused)
        rad[i].addEventListener('change', function() {
            (prev) ? console.log(prev.value): null;
            if (this !== prev) {
                prev = this;
            }
            console.log(this.value)
        });
        
    }

</script>

{% endblock %}  

{% block footer %}

<form id="nav-bar" name = "navBar" method = "POST" action="{{ url_for('customer.areaNav')}}">
    <button class = "footer-nav" name = navBar type = "submit" value = "home">
        <p> home </p>
    </button>
    <button class = "footer-nav" name = navBar type = "submit" value = "map">
        <p> map </p>
    </button>
    <button class = "footer-nav" name = navBar type = "submit" value = "schedule">
        <p> schedule</p>
    </button>
    <button class = "footer-nav-curr" name = navBar type = "submit" value = "configure">
        <p> configure</p>
    </button>
</form>

{% endblock %} 



