#header {
    border: 2px #b83030 solid;
    color: brown;
    display: flex;
    flex-direction: row; 
    padding: 2px;
    height: 100px;
    width: 100%;
}

#headertext {
    border: #b83030 solid;
    color: brown;
    text-align: center;
    font-size: 30px;
    width: 20%;
    height: 90%;

}

.footer-nav-curr {
    width: 25%;
    height: 100%;
    margin: 0;
    background-color: gray;
    font-size: 14px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.footer-nav {
    background-color: lightgrey;
    width: 25%;
    height: 100%;
    font-size: 14px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.footer-nav:hover {
    background-color: rgb(150, 150, 150);
    width: 25%;
    height: 100%;
    font-size: 14px;
    border-radius: 0;
    border-left: 0;
    border-right: 0; 
}

#nav-bar {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline;
    font-size: 0;     /* Apparently needed for no button spacing*/
}

/*W3Schools breadcrumbs example https://www.w3schools.com/howto/howto_css_breadcrumbs.asp*/

ul.breadcrumbs li {
    list-style: none;
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
    color: black;
    content: "/\00a0";
  }

ul.breadcrumbs li a {
    color: #8a8a8a;
    text-decoration: none;
}

ul.breadcrumbs li a:hover {
    color: #424242;
    text-decoration: underline;
}

.areaPreview {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.areaPreview form {
    width: 100%;
    height: 150px;
}

.areaPreview form button {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    border-radius: 8px;
    font-size: 25px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #dddbdb;
}

.statusBox {
    width: 150px;
    height: flex;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #FF6F6F;
    background-color: #FAC3C3;
    text-align: center;
  }

#addAreaButton {
    width: 40px;
    height: 40px;
    background-color: #d398f5;
    position: relative;
    border-radius: 40px;
    left: 50%;
    top: 20px;
}

.submitButton {
    background-color: rgb(100, 100, 252);
    border-radius: 4px;
    border: none;
    color: white;
}

.alert {
    background-color: rgb(252, 110, 110);
}

.warning {
    background-color: rgb(233, 252, 125);
}

.infoSpace {
    width: 30%;
}

.notifSpace {
    height: 100%;
    font-size: 15px;
    width: 70%;
    overflow-y: scroll;
}

.notifSpace div {
    border-radius: 6px;
}
