#header {
    border: 2px #b83030 solid;
    color: brown;
    display: flex;
    flex-direction: row; 
    padding: 2px;
    height: 100px;
    width: 100%;
}

#headertext {
    border: #b83030 solid;
    color: brown;
    text-align: center;
    font-size: 30px;
    width: 20%;
    height: 90%;

}

.footer-nav-curr {
    width: 25%;
    height: 100%;
    margin: 0;
    background-color: gray;
    font-size: 14px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.footer-nav {
    background-color: lightgrey;
    width: 25%;
    height: 100%;
    font-size: 14px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.footer-nav:hover {
    background-color: rgb(150, 150, 150);
    width: 25%;
    height: 100%;
    font-size: 14px;
    border-radius: 0;
    border-left: 0;
    border-right: 0; 
}

#nav-bar {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline;
    font-size: 0;     /* Apparently needed for no button spacing*/
}

/*W3Schools breadcrumbs example https://www.w3schools.com/howto/howto_css_breadcrumbs.asp*/

ul.breadcrumbs li {
    list-style: none;
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
    color: black;
    content: "/\00a0";
  }

ul.breadcrumbs li a {
    color: #8a8a8a;
    text-decoration: none;
}

ul.breadcrumbs li a:hover {
    color: #424242;
    text-decoration: underline;
}

.areaPreview {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.areaPreview form {
    width: 100%;
    height: 150px;
}

.areaPreview form button {
    display: inline-flex;
    align-items: flex-start;
    text-align: left;
    align-items: top;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
}

