#header {
    border: 2px #b83030 solid;
    color: brown;
    display: flex;
    flex-direction: row; 
    padding: 2px;
    height: 100px;
    width: 100%;
}

#headertext {
    border: #b83030 solid;
    color: brown;
    text-align: center;
    font-size: 30px;
    width: 20%;
    height: 90%;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.products {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
}

.product-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

.request-info {
    border: 1px solid #ccc;
    padding: 15px;
    max-width: 300px;
    margin: 20px;
    border-radius: 8px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  /*W3Schools breadcrumbs example https://www.w3schools.com/howto/howto_css_breadcrumbs.asp*/

ul.breadcrumbs li {
    list-style: none;
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
    color: black;
    content: "/\00a0";
  }

ul.breadcrumbs li a {
    color: #8a8a8a;
    text-decoration: none;
}

ul.breadcrumbs li a:hover {
    color: #424242;
    text-decoration: underline;
}

.button1
{
   color:black;
   text-decoration: none; 
   background-color: none;
}

.serviceprovider-box {
    border: 1px solid #ccc;
    width: 1200px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
}